<li class="list-group-item ">
    
        
        <a href="{{ url_for('host_control', host_id=host.id) }}" class="text-decoration-none">
            <div class="d-flex">
                <span class="badge bg-danger p-0 me-4" style="height:min-content"> <p class="h4 m-0">{{ host.name}}</p> </span>
                <p class="text-muted me-2">ip: </p> 
                <p class="h5 me-2">{{host.ip}}</p>
                {% if host.connected %}
                    <span class="badge rounded-pill text-success" style="height:min-content">online</span>
                {% else %}
                    <span class="badge rounded-pill text-secondary" style="height:min-content">offline</span>
                {% endif %}
            </div>
            
        </a>
        
    
    
</li>