<div class="player-header text-secondary">
    Выполняется работа:
</div>
<div class="player bg-warning p-1 rounded-3 opacity-1">
    
    <div class="d-flex">
        <h5 class="name text-black ms-3">
            ЛР1.1 Администрирование средств анализа трафика
        </h5>
        <div class="save ms-3">
            <button type="button" class="btn btn-sm btn-dark">Сохранить</button>
        </div>
        <div class="finish">
            <button type="button" class="btn btn-sm btn-dark ms-1">Завершить</button>
        </div>
        
    </div>
</div>
