{% extends 'base_admin.html' %}

{% block content %}
    
    <div class="header-labs d-flex justify-content-start mt-4">
        <div class="name h4 p-1 me-4">Лабораторные работы</div>
        <div class="create-btn">
            <a href="{{ url_for('lab_create')}}">
                <button type="button" class="btn btn-primary">
                    Создать
                </button>
            </a>
            
        </div>
    </div>
    <ul class="list-group align-content-start">
            {% if labs %}
                {% for lab in labs %}
                    {% include '_lab_entry.html'   %}
                {% endfor %}
            {% else %}
                <p class="text-muted">Пока нет ни одной лабораторной работы.
                    Нажмите <strong>"Создать"</strong>.
                </p>
            {% endif %}
            
        </ul>
    
    <div class="header-hosts d-flex justify-content-start mt-4">
        <div class="name h4 p-1 me-4">Хосты</div>
        <div class="create-btn">
            <a href="{{ url_for('host_create')}}">
                <button type="button" class="btn btn-primary">
                    Добавить
                </button>
            </a>
            
        </div>
    </div>

    <div class="hosts-list">
        {% if not hosts %}
            <p class="text-muted">Не зарегистрирован ни один хост.
            </p>
        {% endif %}
        <p class="text-muted">
            <br>Выберите хост из списка "Обнаруженные хосты", чтобы добавить его.
            <br>Или нажмите <strong>"Добавить"</strong>, чтобы указать параметры вручную.
        </p>
        
            
            {% if hosts %}
                <ul class="list-group  align-content-start" style="width: 100%">
                {% for host in hosts %}
                    {% include '_host_entry.html' %}
                {% endfor %}
                </ul>
            {% endif %}
        
    </div>
    
    <div class="name h5 p-1 me-4 ms-2 text-success">Обнаруженные хосты</div>
    {% if unreg_hosts %}
        <div id="unregs-list" class="d-flex flex-wrap">
            {% for ip in unreg_hosts %}
                {% include '_unreg_entry.html'   %}
            {% endfor %}
        </div>
    {% else %}
        <div class="name h5 p-1 me-4 ms-4 text-secondary">Хосты не обнаружены</div>
    {% endif %}
    
    

    
{% endblock %}