{% extends 'base.html' %}

{% block content %}
    <div class="header-top h2 mt-5">Панель администратора учебной платформы</div>
    <div class="header-labs d-flex justify-content-start mt-4">
        <div class="name h4 p-1 me-4">Лабораторные работы</div>
        <div class="create-btn">
            <a href="{{ url_for('lab_create')}}">
                <button type="button" class="btn btn-primary">
                    Создать
                </button>
            </a>
            
        </div>
    </div>
    <ul class="nav flex-column align-content-start">
            
            {% for lab in labs %}
                {% include '_lab_entry.html'   %}
            {% endfor %}
        </ul>
    <div class="header-hosts d-flex justify-content-start mt-4">
        <div class="name h4 p-1 me-4">Хосты</div>
        <div class="create-btn">
            <a href="{{ url_for('host_create')}}">
                <button type="button" class="btn btn-primary">
                    Добавить
                </button>
            </a>
            
        </div>
    </div>
    <ul class="nav flex-column align-content-start" style="width: 100%">
        
        {% for host in hosts %}
            {% include '_host_entry.html'   %}
        {% endfor %}
    </ul>


    

{% endblock %}