<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>LMS</title>
    {% endif %}
</head>
<body>
    <div class="container justify-content-center">
        
        <div class="pt-3 bg-light">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="nav ms-1">
    
                        <li class="nav-item">
                            <a href="{{ url_for('labs') }}">
                                <button type="button" class="btn btn-primary active me-1">Лабораторные работы</button> </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light text-dark me-1" href="#">Лекции</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light text-dark" href="#">Инструкции</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 ">
                    <div class="d-flex justify-content-center">
                        <div class="pic">
                            <a href="#"> 
                                <img src="{{ url_for('static', filename='png/logo.png') }}" alt="" >
                                
                            </a>
                        </div>
                        <div class="label">
                            <h6 class="text-center">ffff</h6>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-sm-4">
                    <ul class="nav justify-content-end me-1">
                        <li class="nav-item">
                            <a class="btn btn-outline-dark me-1" href="#">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="#">Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
                
                
               
                
            
          
          
        {% block content %}
            
        {% endblock %}
         
    </div>
    
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>