{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-column room mt-5">
        <div class="d-flex justify-content-between">
            <div id="back-btn" class="mb-5">
                <a href="{{ url_for('admin') }}">
                    <button type="button" class="btn btn-primary"> << Назад </button>
                </a>
            </div>
            <div class="header">
                <p class="text-secondary h5">Регистрация хоста</p>
                
            </div>
            
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="name d-flex flex-column" style="width:30%">
                {{  form.name.label }}
                {{ form.name(size=32) }}
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="ip d-flex flex-column mb-2" style="width:30%">
                {{  form.ip.label }}
                {{ form.ip(size=15) }}
                {% for error in form.ip.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            {{ form.submit() }}
        </form>
{% endblock %}