{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-column room mt-5">
        <div class="d-flex justify-content-between">
            <div id="back-btn" class="mb-5">
                <a href="{{ url_for('admin') }}">
                    <button type="button" class="btn btn-primary"> << Назад </button>
                </a>
            </div>
            <div class="header">
                <p class="text-secondary h5"> Панель управления хоста</p>
                <div class="lab-name h3">
                    {{ host.name }}
                </div>
            </div>
            
        </div>
        
        
        
        <div class="d-flex">
            <div class="d-flex flex-column">
                <div class="host-info-label d-flex">
                    <div class="h3 d-flex me-3">Данные хоста</div>
                    <div class="host-action d-flex">
                        <!-- EDIT -->
                        <a href="{{ url_for('host_edit', host_id=host.id)}}">
                            <button type="button" class="btn btn-sm btn-primary me-2">Изменить</button>
                        </a>
                        <!-- DELETE -->
                        <form action="{{ url_for('host_delete', host_id=host.id)}}" method="post" >
                            {{form.hidden_tag()}}
                            {{form.submit(value="Удалить", class="btn btn-sm btn-danger")}}
                        </form>
                    </div>  
                </div>
                <div class="host-info d-flex mb-5 shadow-sm p-2">
                    <div class="name me-5">
                        <div class="p text-muted">Имя хоста: </div>
                        <div class="h4 text-black">
                            <strong>{{host.name}}</strong>
                        </div>
                    </div>
                    <div class="ip-address me-5">
                        <div class="p text-muted">IP-адрес хоста: </div>
                        <div class="h4 text-black">
                            <strong>{{host.ip}}</strong>
                        </div>
                    </div>
                    <div class="status">
                        <div class="p text-muted">Статус хоста: </div>
                        <div class="h4 text-black">
                            <strong>
                                {% if host.status %}
                                    {{host.status}}
                                {% else %}
                                    Неизвестно
                                {% endif%}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column ms-4">
                
                
            </div>
        </div>
        <div class="d-flex">
            <div class="d-flex flex-column">
                <div class="backups-info-label d-flex">
                    <div class="h3">Информация о бекапах</div>

                </div>
                
            </div>
        </div>
    </div>
{% endblock %}