{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-column room mt-5">
        <div class="d-flex justify-content-between">
            <div id="back-btn" class="mb-5 hidden">
                <a href="{{ url_for('index') }}">
                    <button type="button" class="btn btn-primary"> << К списку работ </button>
                </a>
            </div>
            <div class="lab-name h3 ms-2">
                {{ lab.name }}
            </div>
            
            
        </div>
             
        <div id="loading-alert" class="alert alert-danger hidden">
            <strong>ОСТОРОЖНО!</strong> Выполняется подготовка систем. 
            Не отключайте питание устройств. 
        </div>
        <div id="ready-alert" class="alert alert-success hidden">
            <strong>ГОТОВО!</strong> Системы готовы к выполнению лабораторной работы. 
        </div>
            

            <!-- <embed src="{{ url_for('static', filename=current_lab.manual_path)}}" type="application/pdf" height="600px"> -->
        
        <div id="start-alert" class="alert alert-warning hidden">
            <strong>ВНИМАНИЕ!</strong> После нажатия кнопки "Начать" запустится процесс подготовки системы к выполнению лабораторной работы. 
            <br>Весь прогресс предыдущих работ будет потерян.
            <br>Убедитесь, что ноутбук включен в розетку и заражается.
            <br><strong>НЕ ВЫКЛЮЧАЙТЕ</strong> компьютер и питание учебной платформы до завершения процесса. 
        </div>
        <div id="reboot-alert" class="alert alert-warning hidden">
            Подготовка почти завершена. Нажмите кнопку "Перезагрузить". Выполнится перезагрузка ноутбука. 
            После перезагрузки войдите в систему и приступите к выполнению работы. 
        </div>
        <div id="reboot-eta-alert" class="alert alert-warning hidden">
            Ноутбук перезагрузится через 5 секунд. 
        </div>
        <div id="start-btn" class="mb-5 hidden">
            <form  action="{{ url_for('lab_start', lab_id=lab.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value="Начать", class="btn btn-success btn-lg") }}
            </form>
            
        </div>
        <div id="reboot-btn" class="mb-5 hidden">
            <form  action="{{ url_for('reboot') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value="Перезагрузить", class="btn btn-danger btn-lg") }}
            </form>
            
        </div>
        
        
    </div>
    
    <script type="module" src="{{ url_for('static', filename='js/lab_room.js')}}"></script>
{% endblock %}