{% extends 'base_admin.html' %}

{% block content %}
    <div class="d-flex flex-column room mt-5">
        <div class="d-flex justify-content-between">
            <div id="back-btn" class="mb-5">
                <a href="{{ url_for('admin') }}">
                    <button type="button" class="btn btn-primary"> << Назад </button>
                </a>
            </div>
            <div class="header">
                <p class="text-secondary h5">Профиль лабораторной работы</p>
                <div class="d-flex">
                    <div class="lab-name h3">
                    {{ lab.name }}
                </div>
                
                </div>
                 
            </div>
            
        </div>
            
        
        
    </div>
    <div class="d-flex">
            <div class="d-flex flex-column">
                <div class="lab-info-label d-flex">
                    <div class="h3 d-flex me-3">Данные лабораторной работы</div>
                    <div class="lab-action d-flex">
                        <!-- EDIT -->
                        <a href="{{ url_for('lab_edit', lab_id=lab.id)}}">
                            <button type="button" class="btn btn-sm btn-primary me-2">Изменить</button>
                        </a>
                        <!-- DELETE -->
                        <form action="{{ url_for('lab_delete', lab_id=lab.id)}}" method="post" >
                            {{form.hidden_tag()}}
                            {{form.submit(value="Удалить", class="btn btn-sm btn-danger")}}
                        </form>
                    </div>  
                </div>
                <div class="lab-info d-flex mb-5 shadow-sm p-2">
                    <div class="name me-5">
                        <div class="p text-muted">Название работы: </div>
                        <div class="h4 text-black">
                            <strong>{{lab.name}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column ms-4">
                <div class="h3 d-flex me-3">Действия</div>
                <div class="lab-info d-flex mb-5 shadow-sm p-2">
                    <form action="{{ url_for('save_create', lab_id=lab.id)}}" method="post" >
                            {{form.hidden_tag()}}
                            {{form.submit(value="Сохранить состояния устройств", class="btn btn-sm btn-outline-success")}}
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-flex flex-column">
                <div class="backups-info-label d-flex">
                    <div class="h3">Точки сохранения</div>
                    
                </div>
                {% if saves %}
                    <ul class="list-group  align-content-start" style="width: 100%">
                    {% for save in saves %}
                        {% include '_save_entry.html' %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
{% endblock %}

